@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  align-items: center;
}

/* body {
  align-items: center;
  background: rgb(214, 185, 22);
  background: linear-gradient(
    90deg,
    rgba(173, 175, 205, 1) 0%,
    rgb(76, 85, 216) 49%,
    rgba(195, 156, 156, 1) 100%
  );
} */

nav {
  background-color: rgb(180, 9, 9);
}

#video {
  background-color: rgb(180, 9, 9);
}

footer {
  background-color: #032d55;
}

.formulariofondo {
  background-color: #032d55;
}

.text-gray-902 {
  color: #ffffff;
}

.text-gray-901 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  color: aliceblue;
}

a {
  color: inherit;
  text-decoration: inherit;
  color: #ffdd00;
}



.text-gray-900 {

  color: #032d55;
}


.boton1 {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.imagen1 {
  width: 20%;
  height: 20%;
}

.titulos {
  text-align: left;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 50px;
  color: #032d55;
  align-content: center;
  text-align: center;
}

.fondo {
  background-color: #081b53;
  color: #ffffff;
}



.colorletranegro {
  color: #000000;

  
}

.colorleblanca {
  color: #ffffff;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}


.columna {
  width:33%;
  float:left;
}

@media (max-width: 500px) {
  
  .columna {
    width:auto;
    float:none;
  }
  
}
.fondovideos{
  background-color: rgb(31, 41, 55);
  align-content: center;
  text-align: center;
  color: #ffffff;
}
.subrallado{
  color: #ffffff;
  text-decoration: underline #ffffff;
}